{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% comment %} {% load widget_tweaks %} {% endcomment %}

{% block title %}
  {{ request.user.username }}
{% endblock %}

{% block content %}
  <h1>{{ form_title_header }} the attendance form for {{ day }} {{ date }}</h1>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        {% if is_done %}
          <div class="text-danger">attendance already given for the date</div>
        {% else %}
          <button type="submit" class="btn btn-primary">{{ button_name }}</button>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}
