{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
  {{ request.user.username }}
{% endblock %}

{% block content %}
  <h1>Submit the attendance form for {{ ' ' }} {% now 'l' %} {% now 'M. d, Y' %}</h1>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {% comment %} <div id="div_id_day" class="mb-3">
      <label for="id_day" class="form-label requiredField">Day<span class="asteriskField">*</span></label>
      <select name="day" class="select form-select" required="" id="id_day">
        <option value={% now 'l' %} selected>{% now 'l' %}</option>
      </select>
    </div> {% endcomment %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        {% if is_done %}
        <div class="text-danger">
          attendance already given for the date
        </div>
        {% else %}
        <button type="submit" class="btn btn-primary">submit</button>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}
