<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hello from {{ site_name }}!
    <br>
    <br>
    A new user has been created for you on {{ site_domain }}
    <br>
    Enter the credentials below to login
    <br>
    E-mail: {{ email }}
    <br>
    Password: {{ password }}
    <br>
    <br>
    Please change you password using <a href={{ change_password_url }}>this link</a>.
    <br>
    <br>
    Thank you for using {{ site_name }}!
    <br>
    {{ site_domain }}
</body>

</html>